.menu {
    display: flex;
    background-color: #fff;
    background-image: url(../images/background_menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .menu__title {
    display: flex;
    color: #000000;
    max-width: 780px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 100px auto 24px;
  }
  
  .menu__sutitle {
    display: flex;
    color: #000000;
    max-width: 820px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0px auto 100px;
    text-align: center;
  }
  
  .menu__cards {
    display: flex;
    position: relative;
    gap: 100px;
    margin-bottom: 100px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
  }
  
  .card {
    display: flex;
    width: 540px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .card__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 32px;
  }
  
  .card__list-item {
    display: flex;
    list-style-type: none;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    align-items: center;
  }
  
  .card__list-divider {
    display: flex;
    border-bottom: 2px solid black;
    width: 30%;
    margin-right: auto;
    flex-wrap: nowrap;
    height: 10px;
    flex: 1;
  }
