.page {
  max-width: 1600px;
  min-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", "arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  box-sizing: border-box;
}

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  flex-direction: column;
  color: black;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__span-acent {
  display: flex;
  position: relative;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin-left: 80px;
  margin-top: 183px;
  margin-bottom: 0px;
}

.header__title {
  max-width: 729px;
  display: flex;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0.6px;
  margin-left: 80px;
  margin-top: 0px;
}

.header__description {
  display: flex;
  position: relative;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
  margin-left: 80px;
}

.header__image {
  display: flex;
  position: absolute;
  max-width: 568px;
  max-height: 646px;
  right: 5px;
  top: 124px;
  left: auto;
  bottom: auto;
  flex-wrap: nowrap;
  background-position: right;
}

.header__footer {
  display: flex;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  list-style-type: none;
  background-position: bottom;
  margin-top: auto;
}

.header__footer-list {
  display: flex;
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  flex-wrap: nowrap;
  flex-direction: column;
}

.header__list-times {
  display: flex;
  margin: 0px;
}

.header__address {
  display: flex;
  margin-top: auto;
  margin-right: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  justify-content: right;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  display: flex;
  position: relative;
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
  justify-content: left;
}

.nav__links {
  display: flex;
  justify-content: right;
  top: 30px;
  left: auto;
  margin-right: 80px;
  column-gap: 20px;
  list-style-type: none;
  align-items: end;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  display: flex;
  position: relative;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  flex-direction: column;
  background-position: center;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  display: flex;
}

.recipes__subtitle {
  display: flex;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 80px;
}

.recipes__videos {
  display: flex;
  position: relative;
  max-width: 480px;
  max-height: 273px;
  margin-top: 80px;
  margin-bottom: 215px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.recipes__iframe {
  position: relative;
  display: flex;
  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  gap: 40px;
  margin-top: 24px;
}

.recipes__video-aero {
  display: flex;
  list-style-type: none;
  width: 480px;
  justify-content: space-between;
}

.recipes__video-ultimate {
  display: flex;
  list-style-type: none;
  width: 480px;
  justify-content: space-between;
}
